@model ITypeCategoryModel<ICategoryModelBase>

@{
    double itemsByColumn = 5;
}

<li class="dropdown menu-dropdown-header">
    <a href="@Url.Action("CategoryByType","Catalog",new {type = Model.TypeByHref,id = Model.TypeId})" class="href-dropdown-header">
        @Model.TypeName<i class="glyphicon glyphicon-menu-down"></i>
    </a>
    <ul class="dropdown-menu list-inline" style="width: @(Math.Ceiling(Model.Items.Count() / itemsByColumn) * 185)px">
        @for (var i = 0; i < Model.Items.Count(); )
        {
            <li style="float: left">
                <ul class="list-unstyled">
                    @for (var j = 0; j < itemsByColumn && i < Model.Items.Count(); j++, i++)
                    {
                        <li class="text-uppercase ">
                            <div class="section-category">
                                <a href="@Url.Action("GetGoodsByCategory", "Catalog", new { type = Model.TypeByHref,id=Model.Items.ElementAt(i).CategoryId })" class="href-dropdown-header">
                                    @Model.Items.ElementAt(i).CategoryName
                                </a>
                            </div>
                        </li>
                    }
                </ul>
            </li>
        }
        <li class="sub-menu-banner">
            <div class="shadow" style="background: url(@ViewBag.settings.Item1);background-position-x: @ViewBag.settings.Item2"></div>
        </li>
    </ul>
</li>

