@using WebShop.Infostructure.BreadCrumsService
@using WebShop.Models
@model IEnumerable<UserOrder>
@{
    ViewBag.Title = Resource.Cart;
    var data = Html.SerializeToJson(Model);
    var priceDisc = Html.GetName<UserOrder>(o => o.PriceWithDiscount);
    var count = Html.GetName<UserOrder>(o => o.CountGood);


}
<div class="container cart-base" ng-controller="cartController as cartVm">
    <div class="row">
        @Html.GenerateBreadCrumbs(new BreadCrumbsCommon(Url), Resource.Cart)
        <h3 class="color-h text-uppercase">@Resource.Cart</h3>
        <hr/>
        @*Left side*@
        <div class="col-xs-3">
            <h4 class="text-center text-uppercase">@Resource.NewGoods</h4>
            @Html.Partial("/Views/Catalog/Partial/_ExclusiveGood.cshtml")
        </div>
        @*End Left side*@

        @*Right side*@
        @if (Model.Any())
        {
            <div class="col-xs-9 cart" ng-if="cartVm.items[0]">
                <div class="col-xs-12">
                    <div class="to-right" ng-cloak>
                        <h4>
                            <span class="color-h text-uppercase bold">@Resource.TotalCoast: </span>
                            {{(cartVm.items|sum:'@priceDisc':'@count')|currencyExtend:0}}
                        </h4>
                    </div>
                </div>
                <div class="col-xs-12 table-cart">
                    @Html.Partial("_ItemOrder", Model)
                </div>

                <div class="col-xs-12">
                    <button class=" btn btn-primary btn-buy to-right" tooltip="@Resource.FullOrderTool" tooltip-pos="top"
                            ng-click="cartVm.doOrder()">
                        @Resource.Checkout<i class="glyphicon glyphicon-shopping-cart"></i>
                    </button>
                </div>
                @if (!Request.IsAuthenticated)
                {

                    <br/>
                    <hr class="clear-float  col-xs-12"/>
                    <div ng-controller="modalCtrl" class="clear-float col-xs-12">
                        <button class="btn btn-primary btn-buy to-right" tooltip="@Resource.FastOrderTool" tooltip-pos="top"
                                ng-click="openModal('checkoutTmpl','checkoutCtrl')">
                            @Resource.FastCheckout<i class="glyphicon glyphicon-shopping-cart"></i>
                        </button>
                        <script type="text/ng-template" id="checkoutTmpl">
                            @Html.Partial("Partial/_CheckoutByFastPartial")
                        </script>
                    </div>
                }
                <spin-wait show-when="cartVm.isBusy"/>
            </div>
            <div class="col-xs-9" ng-if="!cartVm.items[0]">
                <h3 class="cart-empty">@Resource.BagEmpty</h3>
            </div>
            <div ng-init="cartVm.initModel(@data);cartVm.auth('@Request.IsAuthenticated')"></div>
        }
        else
        {
            <div class="col-xs-9">
                <h3 class="cart-empty">@Resource.BagEmpty</h3>
            </div>
        }
    </div>
    @Html.Action("RecentlyViewedUser", "Good")
    @Html.Partial("Partial/_PayCardPartial")
</div>


@section scripts
{
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/Select-picker.css" rel="stylesheet" />
    <link href="~/Content/DetailItem.css" rel="stylesheet" />
    <link href="~/Content/WidgetRandom.css" rel="stylesheet" />
    <link href="~/Content/ItemProd.css" rel="stylesheet" />

    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/Angular/Common/angular-filter.js"></script>
    <script src="~/Scripts/Angular/Cart/Directives/select-picker.directive.js"></script>

    <script src="~/Scripts/Angular/Cart/Filters/filter.goods.js"></script>
    <script src="~/Scripts/Angular/Cart/Show/Controller.js"></script>
    <script src="~/Scripts/Angular/Modal/dialog.window.js"></script>
    <script src="~/Scripts/Angular/Cart/Show/goodsDetailsCtrl.js"></script>
    <script src="~/Scripts/Angular/Cart/Show/fastCheckoutCtrl.js"></script>
}

@*<div class="row" ng-switch-when="history">
        @Html.Partial("_HistoryPartial")
    </div>
    <div class="row" ng-switch-when="userInfo">
        @Html.Partial("_UserInfoPartial")
    </div>*@
