@model int
@{
    ViewBag.Title = "Detail page";
}
<div id="notifyWin" class="success-notify notify"></div>
<div class="prod-container details">
    <div class="row" ng-controller="ctrlDetail">
        <div ng-init="initialize(@Model)"></div>
        @*left side*@
        <div class="col-md-3">
            <h3 class="text-center text-uppercase color-h">@Resource.RandProd</h3>
            <hr />
            <div ng-repeat="item in randomItem" class="clearfix">
                @Html.Partial("Partial/_RandomGoodsPartial")
            </div>

            @Html.Partial("Partial/_InfoCartPartial")
            <h3 class="text-center text-uppercase color-h">@Resource.RecentlyViewed</h3>
            <hr />
        </div>
        @*right side*@
        <div class="col-md-9">
            <div class="col-md-12" class="container-good-detail"style="min-height: 625px">
                <div class="col-md-5 right">
                    @Html.Partial("Partial/_DetailsPartial")
                </div>
                <div class="col-md-7">
                    <h2 class="color-h">{{::item.goodName}}</h2>
                    <div>
                        <b>@Resource.Availability:</b> <span ng-class="item.goodCount>0?'success-text':'warning-text'">
                            {{item.goodCount > 0?'@Resource.InStock':'@Resource.NotInStock'}}
                        </span>
                    </div>
                    <hr />
                    <div ng-cloak ng-if="item.goodCount>0">
                        <div>
                            <b>@Resource.Count:</b> <span>{{(item.types|filterBy:['colorId']:current.colorId)[0].countGood}}</span>
                        </div>
                        <div>
                            <b>@Resource.Price:</b> <span>{{::item.priceUsd|currencyExtend:0}}</span>
                        </div>
                        <hr />
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary" ng-repeat="(key,value) in item.types|groupBy : 'colorId'"
                                   ng-class="$first==true?'active':''" 
                                   ng-style="::{'background-color':value[0].colorName}" ng-click="initCurrent(value[0])">
                                <input type="radio" name="options" >
                            </label>
                        </div>
                        <hr />
                        <div select-bootstr item="item" ng-cloak="true" class="selectpicker" current="current"></div>
                        <hr />
                    </div>
                    <p>
                        {{::item.description}}
                    </p>
                    <hr />
                    <div class="clearfix">
                        <div class="row">
                            <div class="col-md-12" ng-init="count=1">
                                <b>@Resource.Qty:</b>
                                <input type="number" ng-disabled="item.goodCount==0" ng-model="count" class="form-control" min="1"
                                       ng-max="(item.types|filterBy:['colorId']:current.colorId)[0].countGood"
                                       ng-class="count!=undefined?'':'custom-invalid'" />
                                <button class="btn btn-primary btn-buy " ng-disabled="item.goodCount==0||count==undefined"
                                        ng-click="add(count)">
                                    @Resource.AddToCart
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
            <div>

            </div>
        </div>

    </div>
</div>
@section scripts
{
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/Select-picker.css" rel="stylesheet" />
    <link href="~/Content/DetailItem.css" rel="stylesheet" />
    <link href="~/Content/WidgetRandom.css" rel="stylesheet" />

    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/Angular/Home/Detail/Select.js"></script>
    <script src="~/Scripts/Angular/Common/angular-filter.js"></script>
    <script src="~/Scripts/Angular/Common/HttpServices.js"></script>
    <script src="~/Scripts/Angular/Common/Image-zoom.js"></script>
    <script src="~/Scripts/Angular/Common/ServiceNotify.js"></script>
    <script src="~/Scripts/Angular/Common/DirectiveLoading.js"></script>
    <script src="~/Scripts/Angular/Common/Slick.js"></script>
    <script src="~/Scripts/Angular/Home/Detail/Controller.js"></script>
}
