@using System.Threading
@using Microsoft.AspNet.Identity
@using WebShop.Models.InterfacesModel
@{
    var banners = new Dictionary<int, Tuple<string, string>>()
    {
        {1,Tuple.Create("/Image/Banners/banner-fashion-men.jpg","0px")},
        {2,Tuple.Create("/Image/Banners/banner-fashion-women.jpg","-30px")}

    };
}
@*<li>@Html.RouteLink(Resource.Home, "CommonRoute", new { action = "Index", controller = "Home" }, null)</li>*@
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">

        @foreach (var item in ((IEnumerable<ITypeCategoryModel<ICategoryModelBase>>)ViewBag.Categories))
        {
            @Html.Partial("HeaderPartial/_MenuHeaderPartial", item, new ViewDataDictionary() { { "settings", banners[item.TypeId] } })
        }

        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <li>
                @Html.ActionLink(Resource.Admin, "Index", new { action = "Index", controller = "Admin", area = "Administration" })
            </li>
        }
    </ul>

    <ul class="nav navbar-nav navbar-right">
        @if (Request.IsAuthenticated)
        {

            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName(), "", "")
            </li>
            <li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                }
                <a href="javascript:document.getElementById('logoutForm').submit()">@Resource.LogOff</a>
            </li>
        }
        else
        {
            <li ng-controller="modalCtrl">
                <a class="cursor-href" ng-click="openModal('loginTmpl','loginCtrl')">@Resource.LogIn</a>
            </li>
            <li ng-controller="modalCtrl">
                <a class="cursor-href" ng-click="openModal('registerTmpl','regCtrl')">@Resource.Register</a>
            </li>

        }
        @*Menu ICON*@
        <li class="icon-menu">
            <i class="menu-option glyphicon glyphicon-search"></i>
        </li>
        @Html.Partial("HeaderPartial/_IconHeaderPartial")
        <li class="icon-menu "><i class="menu-option glyphicon glyphicon-user"></i></li>
        <li class="icon-menu"><i class="menu-option glyphicon glyphicon-shopping-cart"></i></li>

    </ul>
</div>
<script type="text/template" id="registerTmpl">
    @Html.Partial("/Views/Account/Template/RegisterTmpl.cshtml")
</script>
<script type="text/template" id="loginTmpl">
    @Html.Partial("/Views/Account/Template/LoginTmpl.cshtml")
</script>
