@using WebShop.Infostructure.Extenssions
@using WebShop.Models.Account
@{
    var name = Html.GetName<RegisterViewModel>(m => m.UserName);
    var email = Html.GetName<RegisterViewModel>(m => m.Email);
    var teleph = Html.GetName<RegisterViewModel>(m => m.PhoneNumber);

    var predicate = "{0}&&checkoutForm.{0}.$invalid";

    var telephPredicate = predicate.F(teleph);
    var namePredicate = predicate.F(name);
    var emailPredicate = predicate.F(email);

}
<div class="row row-nomargin account-modal">
    <div class="col-xs-8 col-xs-push-2" ng-if="!responseHandler.isSuccededRegister">
        <h2 class="text-center text-uppercase account-title">@Resource.FastCheckout</h2>
        <form method="POST" class="form-horizontal" role="form" novalidate name="checkoutForm" id="checkoutForm"
              ng-submit="submit()">
            @Html.AntiForgeryToken()

            @*Name user*@
            <div class="form-group" ng-init="blurs('@name')">
                <div class="col-sm-12">
                    <input type="text"
                           class="form-control"
                           id="@name"
                           placeholder="@Resource.Name"
                           name="@name"
                           ng-model="user.@name"
                           ng-pattern="/^[A-Za-z]\w{2,20}$/"
                           ng-blur="@name=true"
                           ng-required="true"
                           ng-class="@namePredicate?'custom-invalid':'custom-valid'">
                </div>
                <div class="col-sm-12 errro-input"
                     ng-class="@namePredicate?'custom-invalid':'custom-valid'"
                     ng-cloak>
                    <span ng-show="@namePredicate">@Resource.NameInValid</span>
                </div>
            </div>
            @*Telephone user*@
            <div class="form-group" ng-init="blurs('@teleph')">
                <div class="col-sm-12">
                    <input type="text"
                           class="form-control"
                           id="@teleph"
                           placeholder="@Resource.PhoneNumber"
                           name="@teleph"
                           ng-model="user.@teleph"
                           ng-pattern="/^[0-9]{10,15}$/"
                           ng-blur="@teleph=true"
                           ng-required="true"
                           ng-class="@telephPredicate?'custom-invalid':'custom-valid'">
                </div>
                <div class="col-sm-12 errro-input"
                     ng-class="@telephPredicate?'custom-invalid':'custom-valid'"
                     ng-cloak>
                    <span ng-show="@telephPredicate">@Resource.PhoneInValid</span>
                </div>
            </div>
            @*Email*@
            <div class="form-group" ng-init="blurs('@email')">
                <div class="col-sm-12">
                    <input ng-pattern="/^\w+&#64[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/"
                           class="form-control"
                           id="@email"
                           placeholder="email"
                           name="@email"
                           ng-model="user.@email"
                           ng-required="true"
                           ng-blur="@email=true"
                           ng-class="@emailPredicate?'custom-invalid':''">
                </div>
                <div class="col-sm-12 errro-input"
                     ng-class="@emailPredicate?'custom-invalid':'custom-valid'"
                     ng-cloak>
                    <span ng-show="@emailPredicate">@Resource.EmailInValid</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 text-right">
                    <button class="btn btn-primary btn-buy" type="submit">@Resource.Checkout</button>
                </div>
            </div>
        </form>
    </div>
    <spin-wait show-when="responseHandler.isBusy" />
</div>






