@{
    ViewBag.Title = Resource.ConfEmailPage.ToUpper();
}


<div class="container confirm-email-cont">
    <div class="row row-nomargin" ng-controller="modalCtrl">
        <div class="row row-nomargin">
            <div class="text-center">
                <p class="separator"></p>
                <span class="separator-text">@Resource.ConfEmailPage</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div style="padding: 50px 0">
                @Resource.ConfEmailSucces &rArr;
                <a class="cursor-href" ng-click="openModal('loginTmpl','loginCtrl')">@Resource.LogIn</a>
            </div>
        </div>

        <div class="col-xs-12 padding-top-10 row-nomargin excl-categ">
            <div class="row row-nomargin">
                <div class="text-center">
                    <p class="separator"></p>
                    <span class="separator-text">@Resource.Exclusive</span>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="col-xs-12">
                    @Html.Partial("/Views/Catalog/Partial/_CategoryWidgetBlur.cshtml", new ViewDataDictionary()
                    {
                        {"imgPath", "/Image/womanfootwear.jpg"},
                        {"text", Resource.FootWearW},
                        {"urlPath", Url.Action("Category", "Catalog", new {type = "Women", id = "10"})},
                        {"height", 300}
                    })
                </div>
                <div class="col-xs-6 padding-top-10">
                    @Html.Partial("/Views/Catalog/Partial/_CategoryWidgetBlur.cshtml", new ViewDataDictionary()
                    {
                        {"imgPath", "/Image/jackets-men-banner.jpg"},
                        {"text", Resource.FootWearW},
                        {"urlPath", Url.Action("Category", "Catalog", new {type = "Men", id = "37"})},
                        {"height", 600}
                    })

                </div>
                <div class="col-xs-6 padding-top-10">
                    @Html.Partial("/Views/Catalog/Partial/_CategoryWidgetBlur.cshtml", new ViewDataDictionary()
                    {
                        {"imgPath", "/Image/jackets-men-banner.jpg"},
                        {"text", Resource.FootWearW},
                        {"urlPath", Url.Action("Category", "Catalog", new {type = "Men", id = "37"})},
                        {"height", 290}
                    })

                </div>
                <div class="col-xs-6 padding-top-10">
                    @Html.Partial("/Views/Catalog/Partial/_CategoryWidgetBlur.cshtml", new ViewDataDictionary()
                    {
                        {"imgPath", "/Image/womanfootwear.jpg"},
                        {"text", Resource.FootWearW},
                        {"urlPath", Url.Action("Category", "Catalog", new {type = "Women", id = "10"})},
                        {"height", 300},
                        {"cls","width2x"}
                    })
                </div>

            </div>
            <div class="col-xs-4">
                @Html.Partial("/Views/Catalog/Partial/_CategoryWidgetBlur.cshtml", new ViewDataDictionary()
                {
                    {"imgPath", "/Image/jackets-men-banner.jpg"},
                    {"text", Resource.FootWearW},
                    {"urlPath", Url.Action("Category", "Catalog", new {type = "Men", id = "37"})},
                    {"height", 600},
                    {"cls","media-categ-min"}
                })


            </div>

        </div>

    </div>
</div>
