@using WebShop.Infostructure.BreadCrumsService
@using WebShop.Infostructure.Helpers
@model ICategoryDescModel

@{
    ViewBag.Title = string.Concat(Model.CategoryName, "-", Model.TypeName);
}
<div id="notifyWin" class="success-notify notify"></div>
<div class="container" ng-controller="prodCtrl">
  
    <div class="row row-nomargin row-nopadding">
        <div class="col-md-12">
            @Html.GenerateBreadCrumbs(new BreadCrumbsCategory(Model.CategoryId, Url))
        </div>
        @*left side*@
        <div class="col-md-3">
            @Html.Action("Filter", new {id = Model.CategoryId})
            <hr/>
            <h4 class="text-center text-uppercase">@Resource.Exclusive</h4>
            @Html.Partial("Partial/_ExclusiveGood")
        </div>
        @*right side*@
        <div class="col-md-9 all-product" ng-controller="pageCtrl" ng-init="category=@Model.CategoryId;clickPage(@ViewBag.Page)">
            <div class="row row-nomargin">
                <div class="text-center">
                    <p class="separator"></p>
                    <span class="separator-text">@Model.CategoryName</span>
                </div>
            </div>
            @if (Model.Childrens.Any())
            {
                <div class="text-center text-uppercase color-h">@Resource.SubCategory</div>
                <div class="flexbox-container">
                    <ul class="list-inline">
                        @foreach (var child in Model.Childrens)
                        {
                            <li>
                                <a href="@Url.Action("Category", new {type = child.TypeByHref, id = child.CategoryId})">@child.CategoryName</a>
                            </li>
                        }
                    </ul>
                </div>
            }
            <div class="row" style="min-height: 600px; margin-top: 5px">
                @*Sort by*@
                <div class="product-fomater text-right">
                    <span class="text-uppercase small">@Resource.SortBy&nbsp;</span>
                    <div az-suggest-box
                         sb-list="[{name:'@Resource.SortByNone',sort:'none'},{name:'@Resource.SortByNew',sort:'date'},{name:'@Resource.SortByPriceDesc',sort:'priceDesc'},{name:'@Resource.SortByPriceAsc',sort:'priceAsc'}]"
                         sb-model-selected="filter.sortBySelect"
                         sb-selected-list-item-class="sb-list-item-checked"
                         sb-close-list-on-select="true"
                         sb-select-first-list-item="true"
                         sb-not-remove-current="true"
                         sb-max-selection="1"
                         class="suggest-box sort-by text-left" ng-cloak>
                        <div sb-trigger-area class="select">
                            <div class="input">
                                <div sb-selection-item>{{s.name}}</div>
                            </div>
                            <button><i class="fa fa-chevron-down"></i></button>
                        </div>
                        <ul class="dropdown">
                            <li sb-dropdown-item class="item">{{i.name}}</li>
                        </ul>
                    </div>
                </div>
                @*End Sort by*@
                <div ng-repeat="item in items|limitTo:items.length" class="col-md-4">
                    @Html.Partial("/Views/Main/Partial/_ProductsPartial.cshtml")
                </div>
                <div class="loader-products" ng-show="isWait">
                    <div class="flexbox-container" style="height: 100%">
                        <img src="~/Image/loader.gif" alt="loading" style="height: 3em; width: 3em">
                    </div>
                </div>
            </div>
            <div paging-setup click-page="clickPage" info="info" class="paging"></div>
        </div>
        @*End Right side*@
    </div>
    @Html.Action("RecentlyViewedUser","Good")
    @*social*@
    @Html.Partial("/Views/Main/Partial/_SocialPartial.cshtml")
    @*End social*@
</div>


@section scripts
{
    <link href="~/Content/ItemProd.css" rel="stylesheet" />
    <link href="~/Content/WidgetRandom.css" rel="stylesheet" />

    <link href="~/Content/angular-range-slider.css" rel="stylesheet" />
    <script src="~/Scripts/Angular/Common/angular-range-slider.min.js"></script>

    <link href="~/Content/suggest.box.css" rel="stylesheet" />
    <script src="~/Scripts/Angular/Common/suggest.box.js"></script>
    <link href="~/Content/combo-box-filter.css" rel="stylesheet" />

    

    <script src="~/Scripts/Angular/Home/Index/Slick.js"></script>
 
    <script src="~/Scripts/Angular/Common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script src="~/Scripts/Angular/Common/Paging/RouteService.js"></script>
    <script src="~/Scripts/Angular/Common/Paging/PagingDirective.js"></script>

    <script src="~/Scripts/Angular/Common/ServiceNotify.js"></script>


    <script src="~/Scripts/Angular/Home/Products/Controller.js"></script>


}
